<link rel="stylesheet" href="/stylesheets/styles.css" type="text/css">

<form id="contact" name="contact" method="post" action="/">
    <p class="error">{{error}}</p>
    <h3>Contact us</h3>
    <fieldset>
      <input name="name" placeholder="Your name (required)" type="text" tabindex="1" required="" autofocus="" value="{{name}}">
    </fieldset>
    <fieldset>
      <input name="email" placeholder="Your Email Address (required)" type="text" tabindex="2" required="" value="{{email}}">
    </fieldset>
    <fieldset>
      <input name="phone" placeholder="Your Phone Number (required)" type="text" tabindex="3" required="" value="{{phone}}">
    </fieldset>
    <fieldset>
      <input name="subject" placeholder="Subject (required)" type="text" tabindex="4" required="" value="{{subject}}">
    </fieldset>
    <fieldset>
      <textarea name="message" placeholder="Type your message here...." tabindex="5" required="">{{message}}</textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
  </form>